YQeOGFrzgblH4b9F-My_workflow_2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "viveksolankimirror@gmail.com",
          "mode": "list",
          "cachedResultName": "viveksolankimirror@gmail.com"
        },
        "start": "={{ DateTime.fromFormat($('Webhook').first().json.body['Start Date'] + ' ' + $('Webhook').first().json.body['Orientation Time'], 'M/d/yyyy HH:mm:ss').toFormat(\"yyyy-MM-dd'T'HH:mm:ss\") }}",
        "end": "={{ DateTime.fromFormat($('Webhook').first().json.body['Start Date'] + ' ' + $('Webhook').first().json.body['Orientation Time'], 'M/d/yyyy HH:mm:ss').plus({hours: 1}).toFormat(\"yyyy-MM-dd'T'HH:mm:ss\") }}",
        "additionalFields": {
          "attendees": [
            "={{ $('Webhook').first().json.body['Personal Email Address'] }}"
          ],
          "summary": "=Day 1 Orientation - {{ $('Webhook').first().json.body['Full Legal Name'] }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        256,
        0
      ],
      "id": "ed2ae906-8636-43f2-8566-762a4f8bd2d8",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "hPUyWhA6aLIUl3nS",
          "name": "Google Calendar OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "38915d13-5a42-8013-b668-f3ae37b83745",
          "mode": "list",
          "cachedResultName": "Employee Onboarding",
          "cachedResultUrl": "https://app.notion.com/p/38915d135a428013b668f3ae37b83745"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Name|title",
              "title": "={{ $('Webhook').first().json.body['Full Legal Name'] }}"
            },
            {
              "key": "Email|email",
              "emailValue": "={{ $('Webhook').first().json.body['Personal Email Address'] }}"
            },
            {
              "key": "Phone|phone_number",
              "phoneValue": "={{ $('Webhook').first().json.body['Phone Number'] }}"
            },
            {
              "key": "DOB|date",
              "date": "={{ $('Webhook').first().json.body['Date of Birth'] }}"
            },
            {
              "key": "Job Title|rich_text",
              "textContent": "={{ $('Webhook').first().json.body['Job Title'] }}"
            },
            {
              "key": "Department|rich_text",
              "textContent": "={{ $('Webhook').first().json.body['Department'] }}"
            },
            {
              "key": "Offer Letter|url",
              "urlValue": "={{ $('Webhook').first().json.body['Please upload a copy of your signed offer letter or contract'] }}"
            },
            {
              "key": "Start Date|date",
              "date": "={{ $('Webhook').first().json.body['Start Date'] }}"
            },
            {
              "key": "Status|select",
              "selectValue": "=Onboarding"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        448,
        0
      ],
      "id": "1cdb5e2c-bc00-422d-aaaa-055ba760443d",
      "name": "Create a database page",
      "credentials": {
        "notionApi": {
          "id": "0Oj3YmoPmon7Z6j6",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0BCTGRQS81",
          "mode": "list",
          "cachedResultName": "hr-onboarding"
        },
        "text": "=🎉 *New Employee Onboarding Started!*\n━━━━━━━━━━━━━━━━━━━━\n👤 *Name:* {{ $('Webhook').first().json.body['Full Legal Name'] }}\n💼 *Job Title:* {{ $('Webhook').first().json.body['Job Title'] }}\n🏢 *Department:* {{ $('Webhook').first().json.body['Department'] }}\n📅 *Start Date:* {{ $('Webhook').first().json.body['Start Date'] }}\n🎂 *DOB:* {{ $('Webhook').first().json.body['Date of Birth'] }}\n📧 *Email:* {{ $('Webhook').first().json.body['Personal Email Address'] }}\n📞 *Phone:* {{ $('Webhook').first().json.body['Phone Number'] }}\n👔 *Manager:* {{ $('Webhook').first().json.body['Manager Name'] }}\n🕐 *Orientation Time:* {{ $('Webhook').first().json.body['Orientation Time'] }}\n━━━━━━━━━━━━━━━━━━━━\n*Actions Completed:*\n✅ Welcome email sent\n✅ Calendar invite created\n✅ Notion profile created\n━━━━━━━━━━━━━━━━━━━━",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        656,
        0
      ],
      "id": "a41b6850-bc42-4caf-8afd-e5a8c887aba4",
      "name": "Send a message1",
      "webhookId": "49777718-091d-4b6d-9ca9-7fe66b213074",
      "credentials": {
        "slackOAuth2Api": {
          "id": "20Ye3CrG6TgfMK7z",
          "name": "Slack OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "= {{ $('Webhook').first().json.body['Manager Email'] }}",
        "subject": "=🔔 Action Required: {{ $('Webhook').first().json.body['Full Legal Name'] }} Joining on {{ $('Webhook').first().json.body['Start Date'] }}",
        "emailType": "text",
        "message": "=Hi {{ $('Webhook').first().json.body['Manager Name'] }},\n\nA new employee is joining your team.\n\nName: {{ $('Webhook').first().json.body['Full Legal Name'] }}\nJob Title: {{ $('Webhook').first().json.body['Job Title'] }}\nDepartment: {{ $('Webhook').first().json.body['Department'] }}\nStart Date: {{ $('Webhook').first().json.body['Start Date'] }}\nEmail: {{ $('Webhook').first().json.body['Personal Email Address'] }}\nOrientation Time: {{ $('Webhook').first().json.body['Orientation Time'] }}\n\nAction Checklist:\n☐ Schedule 1:1 intro meeting\n☐ Prepare workstation access\n☐ Add to team Slack channels\n☐ Share team documentation\n\n- HR Automation System",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1488,
        0
      ],
      "id": "e823423e-9834-4582-86ac-de26fdfcd851",
      "name": "Send a message to manager",
      "webhookId": "46d32bea-3a6b-4a50-aa8a-3957f318bcaf",
      "credentials": {
        "gmailOAuth2": {
          "id": "xsTBwtzR6P0emRbf",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').first().json.body['Personal Email Address'] }}",
        "subject": "=Welcome to ABC Company, {{ $('Webhook').first().json.body['Full Legal Name'] }}! 🎉",
        "emailType": "text",
        "message": "={{ $('AI Agent').first().json.output.split('\\n').slice(2).join('\\n') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2032,
        0
      ],
      "id": "fce5e741-5869-41e8-a542-bdd675490f52",
      "name": "Send a message",
      "webhookId": "e2e84276-0958-41b3-a918-2c041d3f3fd3",
      "credentials": {
        "gmailOAuth2": {
          "id": "xsTBwtzR6P0emRbf",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "38915d13-5a42-80ca-b6a5-ebc4ebd484f1",
          "mode": "list",
          "cachedResultName": "Manager Task",
          "cachedResultUrl": "https://app.notion.com/p/38915d135a4280cab6a5ebc4ebd484f1"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Task name|title",
              "title": "={{ $json.task }}"
            },
            {
              "key": "Employee|rich_text",
              "textContent": "={{ $('Code in JavaScript').first().json.employeeName }}"
            },
            {
              "key": "Manager|rich_text",
              "textContent": "={{ $json.managerName }}"
            },
            {
              "key": "Due Date|date",
              "includeTime": false,
              "date": "={{ $json.startDate }}"
            },
            {
              "key": "Status|select",
              "selectValue": "To Do"
            },
            {
              "key": "Priority|select",
              "selectValue": "={{ $json.priority }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1072,
        0
      ],
      "id": "9709ae16-b6c4-42e3-819d-36d79d716556",
      "name": "Create a database page1",
      "credentials": {
        "notionApi": {
          "id": "0Oj3YmoPmon7Z6j6",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $('Webhook').first().json.body;\n\nconst employeeName = input['Full Legal Name'];\nconst managerName = input['Manager Name'];\nconst startDate = input['Start Date'];\nconst department = input['Department'];\nconst managerEmail = input['Manager Email'];\nconst employeeEmail = input['Personal Email Address'];\nconst jobTitle = input['Job Title'];\nconst orientationTime = input['Orientation Time'];\nconst phone = String(input['Phone Number']);\nconst dob = input['Date of Birth'];\nconst offerLetter = input['Please upload a copy of your signed offer letter or contract'];\n\nlet tasks = [\n  { task: 'Schedule 1:1 Intro Meeting', priority: 'High', daysAfter: 0 },\n  { task: 'Prepare Workstation Access', priority: 'High', daysAfter: 0 },\n  { task: 'Add to Team Slack Channels', priority: 'Medium', daysAfter: 0 },\n  { task: 'Share Team Documentation', priority: 'Medium', daysAfter: 1 },\n  { task: 'Complete HR Paperwork', priority: 'High', daysAfter: 2 },\n];\n\nif (department === 'Engineering') {\n  tasks.push({ task: 'Setup GitHub Access', priority: 'High', daysAfter: 0 });\n  tasks.push({ task: 'Setup Dev Environment', priority: 'High', daysAfter: 1 });\n  tasks.push({ task: 'Code Review Guidelines Shared', priority: 'Medium', daysAfter: 2 });\n} else if (department === 'Product') {\n  tasks.push({ task: 'Setup Product Management Tools', priority: 'High', daysAfter: 0 });\n  tasks.push({ task: 'Share Product Roadmap', priority: 'High', daysAfter: 1 });\n  tasks.push({ task: 'Intro to Active Sprints', priority: 'Medium', daysAfter: 2 });\n} else if (department === 'Design') {\n  tasks.push({ task: 'Setup Figma Access', priority: 'High', daysAfter: 0 });\n  tasks.push({ task: 'Share Design System', priority: 'High', daysAfter: 1 });\n  tasks.push({ task: 'Intro to Brand Guidelines', priority: 'Medium', daysAfter: 2 });\n} else if (department === 'Operations') {\n  tasks.push({ task: 'Setup Operations Tools Access', priority: 'High', daysAfter: 0 });\n  tasks.push({ task: 'Share SOPs Documentation', priority: 'High', daysAfter: 1 });\n  tasks.push({ task: 'Assign Operations Workflows', priority: 'Medium', daysAfter: 2 });\n} else if (department === 'Marketing') {\n  tasks.push({ task: 'Setup Marketing Tools Access', priority: 'High', daysAfter: 0 });\n  tasks.push({ task: 'Share Brand Guidelines', priority: 'High', daysAfter: 1 });\n  tasks.push({ task: 'Intro to Active Campaigns', priority: 'Medium', daysAfter: 2 });\n} else if (department === 'Sales') {\n  tasks.push({ task: 'Setup CRM Access', priority: 'High', daysAfter: 0 });\n  tasks.push({ task: 'Share Sales Playbook', priority: 'High', daysAfter: 1 });\n  tasks.push({ task: 'Assign Sales Territory', priority: 'Medium', daysAfter: 2 });\n}\n\nreturn tasks.map(item => ({\n  json: {\n    ...item,\n    employeeName,\n    managerName,\n    startDate,\n    department,\n    managerEmail,\n    employeeEmail,\n    jobTitle,\n    orientationTime,\n    phone,\n    dob,\n    offerLetter\n  },\n  pairedItem: { item: 0 }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        0
      ],
      "id": "598c6514-8fb9-49f4-8125-f07cd436e429",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1680,
        240
      ],
      "id": "f5c19783-c177-4c82-bb98-6b3475a7e15d",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "hZIi5WjFBLYTSa9w",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write a warm professional welcome email for a new employee.\n\nEmployee Details:\n- Name: {{ $('Webhook').first().json.body['Full Legal Name'] }}\n- Job Title: {{ $('Webhook').first().json.body['Job Title'] }}\n- Department: {{ $('Webhook').first().json.body['Department'] }}\n- Start Date: {{ $('Webhook').first().json.body['Start Date'] }}\n- Orientation Time: {{ $('Webhook').first().json.body['Orientation Time'] }}\n- Manager: {{ $('Webhook').first().json.body['Manager Name'] }}\n\nEmail must include:\n1. Warm welcome greeting\n2. Excitement about joining\n3. Orientation scheduled on Start Date at Orientation Time\n4. Manager will reach out soon\n5. What to expect on Day 1\n6. Professional closing\n\nSign off as:\nHR Team\nABC Company\n\nFriendly tone. Under 250 words.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1696,
        0
      ],
      "id": "98d7b912-55a1-435f-b54e-9dd828c9aec7",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1280,
        0
      ],
      "id": "38ec86f9-c8ec-4582-8ad2-abe888e150a1",
      "name": "Limit"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "employee-onboarding",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        32,
        0
      ],
      "id": "f83bd7fe-a5ac-4553-a4a1-6d0acfa6badc",
      "name": "Webhook",
      "webhookId": "f662b325-2671-42e9-932e-42935c34b39d"
    }
  ],
  "connections": {
    "Create an event": {
      "main": [
        [
          {
            "node": "Create a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a database page": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message to manager": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a database page1": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Create a database page1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Send a message to manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}